{% extends "layout.html" %}
{% block body %}
  <table class=entries>

  {% for key in mdf.values %}
      <tr>
       <td><a href="javascript://" onclick="Sijax.request('t3',['{{ mdf.index[loop.index0] }}']);">{{ mdf.index[loop.index0] }}</a> </td><td> ${{ mdf.values[loop.index0][0].round(2)|safe }} </td>
      </tr>
  {% else %}
      <tr>
    <td><em>Unbelievable.  No T3's here so far</em></td>
      </tr>
  {% endfor %}
  </table>
  <div class=metanav>
    <a href="">Download a summary CSV</a>
  </div>
{% endblock %}