s3:
 account_number: ''
 billing_bucket: ''
 time_zone: 'Australia/Brisbane'
 s3_name              : ''
 s3_aws_access_key    : ''
 s3_aws_secret_key    : ''
smtp:
 name             : ''
 user             : ''
 password         : ''
 server           : ''
 sender_address   : 'me@mysite.com'
 port        :    '587'
 recipients:
    - address : 'test@test.com'