s3:
 account_number   : ''
 billing_bucket   : ''
 name             : ''
 aws_access_key   : ''
 aws_secret_key   : ''
smtp:
 name             : ''
 user             : ''
 password         : ''
 server           : ''
 sender_address   : 'me@mysite.com'
 port             : '587'
recipients:
    - address     : 'test@test.com'
general:
 format           : 'standard'
 debug            : 'True'
 filter           : 'not implemented'
 time_zone        : 'Australia/Brisbane'
 version          : '1.0.0'