{% extends "graph_layout.html" %}
{% block body %}

 <canvas id="canvas" height="450" width="600"></canvas>

	<script>
		var barChartData = {
			labels : [
                {% for key in mdf.values %}
                    "{{ mdf.index[loop.index0] }}",
                {% endfor %}
                ],
			datasets : [
				{
					fillColor : "rgba(220,220,220,0.5)",
					strokeColor : "rgba(220,220,220,1)",
					data : [
                        {% for key in mdf.values %}
                            "{{ '{:20,.2f}'.format(mdf.values[loop.index0][0]) }}",
                        {% endfor %}
                    ]
				}
			]
		}
        var myLine = new Chart(document.getElementById("canvas").getContext("2d")).Bar(barChartData);
	</script>
                            <div class="well">
                                <h4>Additional Actions and Information</h4>
                                <p>All items are summarized to the date of the latest file download. Don't forget to check you have the latest CSV file from Amazon.</p>
                                <a class="btn btn-default btn-lg btn-block" target="_blank" href="/fetch">Download the latest report from Amazon</a>
                            </div>
{% endblock %}