<!doctype html>
<title>AWS Billing Reducer</title>
<head>
    <script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript"
        src="/NHDH/statictatic/js/sijax/sijax.js"></script>
    <script type="text/javascript">
        {{ g.sijax.get_js()|safe }}
    </script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='tyle.css') }}">
<div class=page>
  <h1>AWS Billing Reducer</h1>
  <div class=metanav>
   <a href="/upload" >Upload a Report</a>
      |
      <a href="/" >Home</a>
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>